:root {
    /*Tema Inatel*/
    --inatel-primary: rgb(96, 96, 255);
    --inatel-secondary: rgb(235, 255, 11);
    --inatel-accent: rgb(255, 77, 0);
    
    /* Tema Dark */
    --dark-bg: rgb(0, 0, 0);
    --dark-body: rgb(0, 0, 0);
    --dark-card: rgb(99, 99, 99);
    --dark-text: rgb(255, 255, 255);

    /* Cores Base */
    --background: rgb(255, 255, 255);
    --body-bg: rgb(255, 255, 255);
    --text-color: rgb(255, 255, 255);
    --card-bg: rgb(0, 0, 0);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}   
body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--body-bg);
    color: var(--text-color);
    min-height: 100vh;
    padding: 16px;
}
h3 {
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
    font-size: 14px;
    color: var(--cor-text);
    padding-left: 5px;
    padding-right: 5px;
  }
  
p {
font-optical-sizing: auto;
font-weight: 100;
font-style: normal;
font-size: 11px;
color: var(--cor-text);
line-height: 1.5;
orphans: 3;
padding-left: 5px;
padding-right: 5px
}

.carousel-container {
    position: relative;
    overflow: hidden;
    background-color: white;
    border-radius: 10px;
    margin: 20px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1)

}

.carousel {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    white-space: nowrap;
}

.card {
    min-width: 100%;
    text-align: center;
}

.card img {
    width: 100%;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.info {
    padding: 10px
}

.icon {
    font-size: 15px;
    margin-left: 5px;
    margin-right: 2px;
    width: 18px;
    display: inline-block;
    vertical-align: middle
}

button {
    position: absolute;
    top: 30%;
    transform: translateY(-50%);
    background: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 10px;
}
#prevBtn { left: 10px; }
#nextBtn { right: 10px; }  
.svg_logo_inatel{
    background: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px;
}
.container {
    width: 100%;
    max-width: 480px;
    background: var(--background);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 16px;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--card-bg);
    padding: 16px;
    border-radius: 8px;
}
.header div {
    width: 100px;
    height: 50px;
    background: #bbb;
}
.mensagens, .aulas, .noticias {
    padding: 16px;
    border-radius: 8px;
}
.mensagens {
    background: var(--card-bg);
}
.aulas {
    background: var(--card-bg);
    display: grid;
    grid-template-columns: 1fr;
    gap: 16px;
}
.noticias {
    background: var(--card-bg);
}
.card {
    padding: 16px;
    background: var(--card-bg);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}
.menu-button {
    background-color: var(--primary-color);
    color: var(--text-color);
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    position: absolute;
}
.theme-menu {
    display: none;
    position: flex;
    background-color: var(--card-bg);
    border-radius: 8px;
    padding: 16px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}
.theme-menu button {
    display: block;
    margin: 5px 0;
    background: var(--background);
    border-radius: 5px;
    text-align: center;
    border: none;
    cursor: pointer;
    color: var(--text-color);
}
@media (min-width: 600px) {
    .aulas {
        grid-template-columns: repeat(2, 1fr);
    }
}
/* Transição Tema Dark */
body[data-theme="dark"] {
    --background: var(--dark-bg);
    --text-color: var(--dark-text);
    --card-bg: var(--dark-card);
}

/* Transição Tema Inatel */
body[data-theme="inatel"] {
    --background: var(--inatel-primary);
    --text-color: var(--text-color);
    --card-bg: var(--dark-text);
}